@using BandsMvc.Models;
@model Band
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="/css/MyCSS.css" />
</head>
<body>
    <h1>@Model.Name </h1>
    <h4>@Model.Description</h4>
    <img src="@Model.ImagePath" />
    <h4>Albums</h4>
    <ul>
    @foreach (var item in Model.Albums)
    {
        <li>@item</li>
    }
    </ul>

  

</body>
</html>
